@{
    ViewData["Title"] = "Ana Sayfa";
}
<body>
    <div>
        <a asp-area="Admin" asp-controller="Admin" asp-action="Index" class="btn btn-primary">Admin Panel</a>
    </div>
    <div>
        <a asp-area="" asp-controller="Home" asp-action="CreateReservation" class="btn btn-primary">Reservasyon Oluştur</a>
    </div>
</body>
